<style>
    .changePasswordForm {
        width: 50%;
        margin: 0 auto;
    }
</style>
<app-navBar></app-navBar>
<form class="changePasswordForm clearfix" #changePasswordForm="ngForm" (ngSubmit)="changePassword()">
    <div class="form-group">
        <label for="lastPassword">Lest password</label>
        <input type="password" class="form-control" id="lastPassword" required name="last" aria-describedby="emailHelp" placeholder="Enter last password" [(ngModel)]="password.last">
    </div>
    <div class="form-group">
        <label for="newPassword">New password</label>
        <input type="password" class="form-control" id="newPassword" #PasswordModel="ngModel" required name="new" placeholder="New password" [(ngModel)]="password.new">
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm password</label>
        <input type="password" class="form-control" id="confirmPassword" #confirmPasswordModel="ngModel" required name="confirm" placeholder="Confirm password" [(ngModel)]="password.confirm">
        <div class="invalid-feedback" *ngIf="IsPasswordAndConfirmPasswordSame">
            Confirm password is not the same as password.
        </div>
    </div>
    <button type="submit" class="btn btn-primary right" [disabled]="checkFormIsValid()">Save</button>
</form>