<nav class="navbar navbar-light bg-light clearfix">
    <div class="cotent clearfix d-flex align-items-center">
        <div class="logo left clearfix">
            <span class="navbar-brand left">
            <img src="../../assets/img/logo.png" class="d-inline-block align-top pointer" [routerLink]="['/calendar']"  alt="">
          </span>
            <strong class="left pointer" [routerLink]="['/calendar']">GTS</strong>
        </div>
        <div class="user right">
            <strong class="userInfo" *ngIf="loggedIn()">{{userName}}</strong>
            <strong class="userInfo" *ngIf="!loggedIn()">Welcome</strong>
            <div class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
                    <i class="fas fa-cog"></i> <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                    <li role="menuitem" *ngIf="loggedIn()"><a class="dropdown-item" (click)="logout()">Logout</a></li>
                    <li role="menuitem" *ngIf="loggedIn()"><a class="dropdown-item" [routerLink]="['/changePassword']">Change password</a></li>
                    <li role="menuitem" *ngIf="loggedIn()"><a class="dropdown-item" [routerLink]="['/settings']">Settings</a></li>
                    <li role="menuitem" *ngIf="loggedInAsAdmin()"><a class="dropdown-item" [routerLink]="['/register']">Registration</a></li>
                    <!-- <li role="menuitem" *ngIf="!loggedIn()"><a class="dropdown-item" (click)="login()">Login</a></li> -->
                    <!-- <li class="divider dropdown-divider"></li> -->
                </ul>
            </div>
            <!-- <span class="logOut calendarButtonNormal" (click)="logout()">Logout</span> -->
        </div>
    </div>

</nav>