<app-navBar></app-navBar>
<style>
    .changeColorForm {
        width: 25%;
        margin: 0 auto;
    }
    .invalid-feedback{
        color:red;
    }
</style>
<form class="changeColorForm clearfix" (ngSubmit)="saveValues()" #userForm="ngForm">

    <div class="form-group">
        <label for="formName">Ad</label>
        <input type="text" class="form-control" id="formName" name="user.name" required maxlength="25" minlength="3" placeholder="Adınızı daxil edin." [(ngModel)]="user.name" #name="ngModel">
        <div class="invalid-feedback" *ngIf="name.errors?.required && userForm.submitted">
            Ad daxil edilməlidir.
        </div>
        <div class="invalid-feedback" *ngIf="name.errors?.maxlength && userForm.submitted">
            Ad 25 herfden az olmalıdır.
        </div>
        <div class="invalid-feedback" *ngIf="name.errors?.minlength && userForm.submitted">
            Ad 2 hərfdən çox olmalıdır.
        </div>
    </div>
    <div class="form-group">
        <label for="formSurname">Soyad</label>
        <input type="text" class="form-control" id="formSurname" name="user.surname" required maxlength="25" minlength="3" placeholder="Soyadınızı daxil edin." [(ngModel)]="user.surname" #surname="ngModel">
        <div class="invalid-feedback" *ngIf="surname.errors?.required && userForm.submitted">
            Soyad daxil edilməlidir.
        </div>
        <div class="invalid-feedback" *ngIf="surname.errors?.maxlength && userForm.submitted">
            Soyad 25 herfden az olmalıdır.
        </div>
        <div class="invalid-feedback" *ngIf="surname.errors?.minlength && userForm.submitted">
            Soyad 2 hərfdən çox olmalıdır.
        </div>
    </div>
    <div class="form-group">
        <label for="formUsername">Istifadəçi adı</label>
        <input type="text" class="form-control" id="formUsername" name="user.username" required maxlength="25" placeholder="Istifadəçi adınızı daxil edin." [(ngModel)]="user.username" #username="ngModel">
        <div class="invalid-feedback" *ngIf="username.errors?.required && userForm.submitted">
            Istifadəçi adı daxil edilməlidir.
        </div>
        <div class="invalid-feedback" *ngIf="username.errors?.maxlength && userForm.submitted">
            Istifadəçi adı 25 herfden az olmalıdır.
        </div>
    </div>
    <div class="form-group">
        <label for="formPassword">Kod</label>
        <input type="password" class="form-control" id="formPassword" name="user.password" required maxlength="25" placeholder="Kodunuzu daxil edin." [(ngModel)]="user.password" #password="ngModel">
        <div class="invalid-feedback" *ngIf="password.errors?.required && userForm.submitted">
            Kod daxil edilməlidir.
        </div>
        <div class="invalid-feedback" *ngIf="password.errors?.maxlength && userForm.submitted">
            Kod 25 herfden az olmalıdır.
        </div>
    </div>
    <div class="form-group">
        <label for="formEmail">Email</label>
        <input type="email" class="form-control" id="formEmail" name="user.email" maxlength="25" [email]="true" placeholder="Emailinizi daxil edin." [(ngModel)]="user.email" #email="ngModel">

        <div class="invalid-feedback" *ngIf="email.errors?.maxlength && userForm.submitted">
            Email 25 herfden az olmalıdır. {{email.errors}}
        </div>
    </div>
    <div class="form-group">
        <label for="usercolor">Rəng</label>
        <input class="form-control" [(colorPicker)]="user.color" [ngStyle]="{'color': '#fff'}" required maxlength="7" placeholder="Rəng kodu daxil edin." pattern="^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$" [style.background]="user.color" id="usercolor" name="user.color" [(ngModel)]="user.color" #selectedColor="ngModel"
            (colorPickerChange)="setColorValue($event)" />
        <div class="invalid-feedback" *ngIf="selectedColor.errors?.required && userForm.submitted">
            Rəng daxil edilməlidir.
        </div>
        <div class="invalid-feedback" *ngIf="selectedColor.errors?.maxlength && userForm.submitted">
            Rəng 7 herfden az olmalıdır.
        </div>
        <div class="invalid-feedback" *ngIf="selectedColor.errors?.pattern && userForm.submitted">
            Düzgün rəng kodu daxil edilməmişdir.
        </div>
    </div>
    <button type="submit" class="btn btn-primary right">Əlavə et</button>
</form>